/* Basic Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { text-align: center; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #333; /* */
  color: white;
}
.navbar div { display: flex; }

.nav-menu {
  display: flex;
  list-style: none;
  position: fixed;
  right: -100%; /* Position off-screen initially */
  top: 105px; /* Adjust based on navbar height */
  width: 50%;
  flex-direction: column;
  background-color: #333;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Class added by JavaScript to make menu visible */
.nav-menu.active { right: 0; }
.nav-item { margin: 15px 0; }
.nav-link {
    color: white;
    text-decoration: none;
}

/* Hamburger Icon Styling */
.hamburger {
  /* Hide by default on desktop */
    background: none;
    border: none;
    cursor: pointer;
    /* padding: 0; */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: white;
    transition: 0.4s; /* */
}

/* For devices with a minimum width of 768px (Medium) */
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 600px) {
  .nav-menu {
      right: -100%; /* Position off-screen initially */
      top: 105px; /* Adjust based on navbar height */
      width: 25%;
  }
  /* .nav-menu.active { right: 0; } */
  .nav-item { margin: 5px; }
  /* .nav-link {
    color: white;
    text-decoration: none;
  } */
}
